.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
    /* выше установили ограничения для секции */
}

.logo {
    width: 228px;
    height: 32px;
}

.logo__place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}

.header__title {
    width: 730px;
    padding-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    z-index: 3;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header__subtitle {
    width: 388px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    left: 64px;
    bottom: 30px;
    position: absolute;
    z-index: 3;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header__link {
    font-size: 18px;
    line-height: 25px;
    color: #2f80ed;
    font-weight: normal;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    right: 0;
    top: 147px;
    position: absolute;
    z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    background-color: #2f80ed;
    top: 64px;
    right: 0;
}

.two-columns{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto;
    min-width: 784px;
    align-items: flex-start;
}

.two-columns__brief{
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    width: 175px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.two-columns__main-text{
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    width: 80%;
}

.two-columns__paragraph{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.two-columns__span-accent{
    line-height: 34px;
    font-size: 24px;
    font-weight: 600px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.section-title{
    margin-top: 100px;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600 bold;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    width: 60%;
    margin: auto;
}

.section-subtitle{
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin-top: 20px;
    width: 60%;
    margin: auto;
}

.table{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 60px;
    margin: 60px auto 100px;
    width: 1100px;
}

.table__cell{
    width: 250px;
}

.table__heading{
    text-align: center;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
}

.table__text{
    margin-top: 20px;
    text-align: center;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    width: 250px;
}
.ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li::marker{
    content: "";
}
.feynman{
    height: 890px;
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    position: relative;
}

.feynman__image{
    width: 867px;
    height: 637px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.feynman__title{
    margin: 0 auto;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600 ;
    width: 648px;
    padding-top: 100px;
    z-index: 2;
    position: relative;
}

.feynman__subtitle{
    margin: 0 auto;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin-top: 70px;
    z-index: 2;
    position: relative;
}

.feynman__link{
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    position: absolute;
    top: 50%;
    right: 48px;
}

