.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  /* выше установили ограничения для секции */
}

.logo__place_header{
  width: 228px;
  height: 32px;
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
}

.header__title{
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 730px;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.header__subtitle{
  width: 388px;
  margin-top: 100px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
  position: absolute;
}

.header__link{
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  color: #2f80ed;
  font-weight: normal;
  margin-bottom: 30px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 147px;
  position: absolute;
  right: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  margin-top: 64px;
  right: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table_cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.profile-header{
  border-bottom: 2px #f2f2f2;
  padding: 20px;
}

.two-columns{
 display: flex;
 justify-content: center;
 justify-content: space-between;
 width: 80%;
 margin: auto;
 margin-top: 100px;
 min-width: 784px;
 
 
 
}

.two-columns_brief{
 color: #2f80ed;
 line-height: 1.2;
 font-size: 18px;
 font-weight: normal;
 display: flex;
 margin: 0;
 width: 175px;
}

.two-columns_main-text{
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.two-columns_span-accent{
  line-height: 34px;
  font-size: 20px;
  font-weight: 600px;
  font-weight: bold;
}
  
  
.two-columns_paragraph{
font-size: 20px;
line-height: 34px;
font-weight: normal;
margin: 0;
}


.section-title{
  margin-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600px bold;
  
}

.section-subtitle{
  
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
   margin-top: 20px;
   margin-bottom: 60px;
   

}

.table{
 
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;
 margin: auto;
 width: 1100px;
 grid-column: 4/4;
  
}

.conteiner{
  display: flex;
  gap: 20px;
  display: grid;

}

.table_heading{

  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;  

}

.table_text{
  margin-top: 20px;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 250px;
  gap: 20px;
  
}

.feynman{
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f2f2f2;
  position: relative;
}

.feynman_block{
  height: 890px;
  min-width: 1100px;
  max-width: 1600px;
  background-image: url(..//images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman_title{
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600 ;
  width: 648px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
  z-index: 2;
 
}

.feynman_subtitle{
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
  z-index: 2;
}

.feynman_link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  
  
  }

  .kaufman{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
    
    
  }

  .section-title_theme_dark{
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600 bold;
    text-align: center;
    padding-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
  }

  .section-subtitle_theme_dark{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
  }

  .table_theme_dark{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 1100px;
    grid-column: 5/5;
    padding-bottom: 90px;
    margin: auto;
    z-index: 2;
    
    
    
 }
 .table_cell_theme_dark{
  display: flex;
  gap: 20px;
  display: grid; 
  width: 200px;
  top: 80px;
  z-index: 2;
  bottom: 90px;
    
  
}
 .table_heading_theme_dark{
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600 bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  
  
  
 }

 .table_text_theme_dark{
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  width: 200px;
  
 }
  
 .kaufman_triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  overflow: hidden;
  right: -210px;
  top:0;
  background-image: url(..//images/kaufman-triangle.svg);
  
 }
 
 .footer{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1f1f1f;
    position: relative;
    display: flex;
    min-height: 350px;
 }

 .footer_columns{
  flex-basis: 711px;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 90%;
  
  
  
 }

  .footyr_column_content_copyright{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  position: absolute;
 }

 .logo_place_footer{
  width: 228px;
  height: 32px;
  position: absolute;
  padding-top: 30px;
  padding-left: 64px;
  
  
 }
 .footer_author{
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 64px;
  padding-bottom: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: auto;
  align-self: self-start;
  position: absolute;
  bottom: 0;
  left: 0;
 }
   
 
 .footer_column-heading{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600px bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
 }

 .footer_column-links{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  
  
 }
 .footer_social-icon{
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  
 }

 .footer-container{
  display: flex;
  gap: 250px;
  padding-top: 30px;
  padding-left: 64px;
 }
 
.footer_column-link{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  
}